.opulence { font-size: x-large; 
font-family:Georgia, 'Times New Roman', Times, serif;
 background-color: #f9f; 
color: whitesmoke;
text-align: center;
}

.opulence2 { font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #a5f;
color: white;
text-align: center;
}

.bilde {display: flex;
    justify-content: center;
}

table { width: 100%;
border-collapse: collapse;
font-family: Georgia, 'Times New Roman', Times, serif;
}

th, td {border: 3px solid #a5f;
text-align: left;
padding: 50px,50px,50px,50px;
background-color: rgba(255, 0, 136, 0.979);
}

th {background-color: #f9f
}

.button {
display: inline-block;
padding: 10px 20px;
background-color: rgb(123, 0, 246);
color: rgb(251, 251, 251);
border-radius: 5px;
cursor: pointer;
font-size: 20px;
text-decoration: none;
}

.button:hover {
background-color: #f9f;
}
