.opulence { font-size: x-large; 
font-family:Georgia, 'Times New Roman', Times, serif;
 background-color: #f9f; 
color: whitesmoke;
text-align: center;
}

.opulence2 { font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #a5f;
color: white;
text-align: center;
}

.bilde {display: flex;
    justify-content: center;
}
